<!doctype html>
<html lang="ko">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no" />
		<title>module_base_server</title>
		<link rel="stylesheet" href="https://fonts.googleapis.com/earlyaccess/nanumgothiccoding.css"/>
	</head>
	<body scroll="no">
		<%-body%>
		<script>
			/* $.ajax({
				type : "POST",
				url : "board/testDB",
				data : 'root',
				datatype : "JSON",
				success : function(obj) {
					console.log(obj)
				},
				error : function(xhr, status, error) {
					alert("ERROR!!!");
				}
			}); */
		</script> 

	</body>
</html>